<svg id="radar"></svg>

<script>
radar_visualization({
  svg_id: "radar",
  width: 1450,
  height: 1000,
  colors: {
    background: "#fff",
    grid: "#bbb",
    inactive: "#ddd"
  },
  quadrants: {{ site.data.quadrants.quadrants | jsonify }},
  rings: {{ site.data.rings.rings | jsonify }},
  print_layout: true,
  // zoomed_quadrant: 0,
  entries: [
    {% for entry in site.data.entries %}
      {
        quadrant: {{ entry.quadrant }},
        ring: {{ entry.ring }},
        label: "{{ entry.name }}",
        active: {{ entry.active }},
        link: "{{ entry.link }}",
        moved: {{ entry.moved }}
      },
    {% endfor %}
  ]
});
</script>
